# Distribution file for the Example project.
# http://www.openengine.dk/wiki/Projects/Terrain

# main repository
git / https://github.com/OpenEngineDK/openengine.git
git-dev / git@github.com:OpenEngineDK/openengine.git

# project repository
# (uncomment the following two lines after uploading your project)
git /projects/Terrain https://github.com/OpenEngineDK/projects-Terrain.git
git-dev /projects/Terrain git@github.com:OpenEngineDK/projects-Terrain.git

# dist dependencies
dist /extensions/HeightMap/HeightMap.dist https://raw.githubusercontent.com/OpenEngineDK/extensions-HeightMap/master/HeightMap.dist
dist /extensions/Inspection/Inspection.dist       https://raw.githubusercontent.com/OpenEngineDK/extensions-Inspection/master/Inspection.dist
dist /extensions/HUD/HUD.dist       https://raw.githubusercontent.com/OpenEngineDK/extensions-HUD/master/HUD.dist
dist /extensions/SDL/SDL.dist       https://raw.githubusercontent.com/OpenEngineDK/extensions-SDL/master/SDL.dist
dist /extensions/OpenGLRenderer/OpenGLRenderer.dist       https://raw.githubusercontent.com/OpenEngineDK/extensions-OpenGLRenderer/master/OpenGLRenderer.dist
dist /extensions/CairoResource/CairoResource.dist       https://raw.githubusercontent.com/OpenEngineDK/extensions-CairoResource/master/CairoResource.dist
dist /extensions/GenericHandlers/GenericHandlers.dist       https://raw.githubusercontent.com/OpenEngineDK/extensions-GenericHandlers/master/GenericHandlers.dist
dist /extensions/TexUtils/TexUtils.dist       https://raw.githubusercontent.com/OpenEngineDK/extensions-TexUtils/master/TexUtils.dist
dist /extensions/FreeImage/FreeImage.dist       https://raw.githubusercontent.com/OpenEngineDK/extensions-FreeImage/master/FreeImage.dist
dist /extensions/OpenGLPostProcessEffects/OpenGLPostProcessEffects.dist       https://raw.githubusercontent.com/OpenEngineDK/extensions-OpenGLPostProcessEffects/master/OpenGLPostProcessEffects.dist
dist /extensions/AntTweakBar/AntTweakBar.dist       https://raw.githubusercontent.com/OpenEngineDK/extensions-AntTweakBar/master/AntTweakBar.dist

# windows libraries
# darwin libraries
# linux libraries

# project data
any /projects/Terrain/data	http://www.openengine.dk/data/projects/Terrain/textures.zip
